<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <span class="badge badge-secondary badge-pill">{{totalItems}}</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item list-group-item-action d-flex justify-content-between lh-condensed" *ngFor="let item of items" >
    <div>
      <h6 class="my-0">{{item.product.name}} <span class="text-alert">x{{item.quantity}}</span></h6>
      <h6 class="text-muted">${{item.product.price}}</h6>
      <small class="text-muted">Dolor exercitation laboris dolor exercitation officia anim commodo reprehenderit.</small>
    </div>
    <div>
      <button type="button row" class="btn btn-danger" style="margin-right:5px;" (click)="removeFromCart(item.product.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (USD)</span>
    <strong>${{totalPrice}}</strong>
  </li>
</ul>
<button class="btn btn-dark btn-lg btn-block">Continue to checkout</button>