<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your wishlist</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
    <div>
      <h6 class="my-0">{{product.name}}</h6>
      <h6 class="text-muted">${{product.price}}</h6>
      <small class="text-muted">Eiusmod aliquip in in sit enim quis adipisicing aliqua pariatur aute labore ut.</small>
    </div>
    <div>
      <button type="button row" class="btn btn-danger" style="margin-right:5px;" (click)="removeFromWishlist(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
  </li>
</ul>
