<div class="jumbotron jumbotron-fluid">
  <div class="row ">
    <div class="col-8">
      <div class="container" style="margin-left:20px">
        <h1 class="display-4">{{product?.name}}</h1>
        <p class="lead">{{product?.price}}$</p>
        <hr class="my-4">
        <p>Ex tempor sit ullamco aliquip. Cillum exercitation ea ea dolore labore incididunt aute. Enim ad amet irure
          dolor. Ipsum proident quis nulla Lorem adipisicing est ipsum esse. Ullamco sit magna quis do. Eu consequat
          enim
          pariatur Lorem incididunt aute anim eu non.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <div class="col">
      <img src="{{product?.imgUrl}}" width="250px">
    </div>
  </div>
</div>
