<br><br>
<div class="jumbotron jumbotron-fluid border rounded shadow-sm">
  <div class="row ">
    <div class="col-8">
      <div class="container" style="margin-left:20px">
        <h1 class="display-4">{{product?.name}}</h1>
        <p class="lead">${{product?.price}}</p>
        <hr class="my-4">
        <p>Ex tempor sit ullamco aliquip. Cillum exercitation ea ea dolore labore incididunt aute. Enim ad amet irure
          dolor. Ipsum proident quis nulla Lorem adipisicing est ipsum esse. Ullamco sit magna quis do. Eu consequat
          enim
          pariatur Lorem incididunt aute anim eu non.</p>
        <br>
        <div class="row">
          <button class="btn btn-dark col-3" style="margin-right:20px;margin-left:20px;" (click)="addToCart(product?.id)"><i class="fas fa-shopping-cart"></i> Add to cart</button>
          <button class="btn btn-dark col-3" (click)="addToWishlist(product?.id)"><i class="fas fa-heart"></i> Add to wishlist</button>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="{{product?.imgUrl}}" width="250px">
    </div>
  </div>
</div>
